{% extends "::base.html.twig" %}

{% block body %}
    <div class="centerDiv">
        <h2>Choisir un questionnaire</h2>
        <form action="{{ path('quiz_homepage') }}" method="post" class="form-control">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}
