{% extends "::base.html.twig" %}

{% block body %}
    <div class="centerDiv">
        <h2>{{ title }}</h2>
        <form action="{{ path('quiz_homepage') }}" method="post" class="form-group">
            {{ form_widget(form) }}
        </form>
    </div>
{% endblock %}
