{% extends "::base.html.twig" %}

{% block body %}
    <div class="divTitle">
        <a class="title" href="{{ path('fos_user_security_login') }}">Connexion</a>
        <a class="title" href="{{ path('fos_user_registration_register') }}">Inscription</a>
    </div>
{% endblock %}
